<!-- {% extends 'useregistration/base.html' %}

{% block content %}

<div class="card">
    <h3>List of approved users</h3>
    <hr>
    
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Password</th>
            <th>DoB</th>
        </thead>
        <tbody>
            {% for user in ausers %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.password}}</td>
                <td>{{user.dob}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %} -->